<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

<title><%=data.autotune.title %></title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
<meta name="description" content="<%=data.autotune['seo_description'] %>" />

<%# OpenGraph Meta Tags %>
<meta property="fb:app_id" content="<%= facebook_app_id %>" />
<meta property="og:site_name" content="<%= site_name %>" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%=data.autotune.title %>" />
<meta property="og:image" content="<%=data.autotune['sharing_image_url'] %>" />
<meta property="og:description" content="<%=data.autotune['seo_description'] %>" />
<meta property="og:url" content="<%=current_page.url %>" />

<%# Twitter Card Meta Tags %>
<meta name="twitter:site" content="@<%= twitter %>" />
<meta property="twitter:account_id" content="<%= twitter_user_id %>" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="<%=current_page.url %>" />
<meta name="twitter:title" content="<%=data.autotune.title %>" />
<meta name="twitter:description" content="<%=data.autotune['seo_description'] %>" />
<meta name="twitter:image:src" content="<%=data.autotune['sharing_image_url'] %>" />
<meta name="twitter:image:width" content="1200" />
<meta name="twitter:image:height" content="630" />

<link rel="image_src" href="<%=data.autotune['sharing_image_url'] %>" />
<link rel="canonical" href="<%=current_page.url %>" />
